# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Django
db.sqlite3
/static/
media/

# Virtual environment
venv/
ENV/
.env

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
